/* layout */
.container {
  max-width: 950px; 
} 

.row {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0;
}

.sm-section {
  padding: 70px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.section-header {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  text-align: center;
}

.section-hr {
  width: 15%;
  display: block;
  margin: 5px auto;
  border-bottom: solid 2px #9b4447;
  margin-bottom: 50px;
}

.sm-hr {
  width: 20%;
  display: block;
  margin: 10px auto;
  border-bottom: solid 2px #9b4447;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* nav bar */
.navbar {
  background-color: rgba(255,255,255,0.7);
  /* box-shadow: 0 3px 10px -1px lightgray; */
}

.nav-item {
  margin: 0 10px;
}

.nav-link.active {
  color: #9b4447 !important;
  font-weight: bold;
}

.nav-link:hover {
  font-weight: bold;
}

.dropdown-item.active {
  background-color: #9b4447;
}

/* home */
#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home i {
  margin-top: 80px;
  color: gray;
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

/* projects */
#projects {
  background: rgba(155,68,71,0.1);
}

.project-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  position: relative;
  margin: 10px;
}

.hover {
  width: 270px;
  height: 270px;
  background: rgba(255,255,255,0.8);
  border: 2px solid #9b4447;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project:hover .hover {
  opacity: 1;
}

.hover hr {
  width: 15%;
  display: block;
  margin: 10px auto;
  border-bottom: solid 2.5px #9b4447;
}

.hover-title {
  font-family: 'Belleza', sans-serif;
  font-size: 22px;
}

.hover-sub {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* about */
.profile-img {
  height: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#my-email {
  font-weight: bold;
  color: #9b4447;
}

#my-email:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.resume-btn {
  color: #9b4447;
  border-color: #9b4447;
}

.resume-btn:hover {
  background-color: #9b4447;
  border-color: #9b4447;
}

/* strengthsfinder */
.strengthsfinder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 35px;
}

.strength {
  background: #9b4447;
  border-radius: 50%;
  border: 3px solid #9b4447;
  transition-property: background, border-radius;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease-in-out;
  height: 150px;
  width: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.strength:hover {
  background: rgba(155,68,71,0.1);
  border-radius: 0;
} 

.strength:hover .s-before, .s-after {
  display: none;
}

.strength:hover .s-after {
  display: block;
}

.s-before, .s-after {
  text-align: center;
}

.s-before i {
  color: #F7EBD7;
  font-size: 35px;
}

.s-before span {
  font-family: 'Arsenal', sans-serif;
  color: #F7EBD7;
  display: block;
  font-size: 20px;
  margin-top: 7px;
}

.strength p {
  font-size: 16px;
  font-weight: bold;
}

.strength-src {
  font-size: 15px;
  color: gray;
  float: right;
}

/* sm-section */
#sm-about {
  background: rgba(155,68,71,0.1);
}

.skills {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.skills ul {
  margin: 0 30px;
  text-align: right;
  line-height: 45px;
  font-size: 17px;
}

.ed-1 {
  color: #9B4461;
  font-weight: bold;
}

.ed-2 {
  font-size: 14px;
  color: gray;
}

.ed-3 {
  font-size: 16px;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  text-align: center;
  /* border-top: 1px solid lightgrey; */
}

.contact-icon {
  font-size: 30px;
  margin: 0 3px;
  color: gray;
}

.contact-icon:hover {
  color: #9b4447;
}

/* PROJECT PAGES */
.project-header img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.project-title {
  border-bottom: 1px solid lightgray;
}

.project-brief {
  background: rgba(155,68,71,0.1);
  padding: 30px 0px;
  text-align: center;
}

.project-brief .mb-center ul {
  line-height: 35px; 
}

.project-content h4 {
  color: #9b4447;
}