@media only screen and (max-width: 768px) { 
  .mb-center {
    text-align: center;
  }

  .project-list {
    justify-content: center;
  }

  .strengthsfinder, .strength-src {
    display: none;
  }

  .col-sm-12 {
    margin: 30px 0;
  }

  #about-plus {
    padding-top: 0;
  }

  .project-content {
    width: 100%;
  }
}