html, body, div, ul, span, h1, h2, h3, span {
	margin: 0;
	padding: 0; 
  /* font-family: 'Arsenal', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff;
  font-size: 17px;
}

p {
  margin: 7px 0;
}

ul {
  list-style: none;
}

a {
  color: #01395e;
}

a:hover {
  text-decoration: none;
  color: inherit
}
