body {
  background-image: url("../images/sun-pattern.png");
}

img {
  border: blue 5px solid;
  padding: 5%;
  width: 100%;
}

#col-one {
  padding-right: 0;
}

#col-two {
  padding-left: 0;
}

.center {
  right: 25%;
}

button {
  margin: 15px;
}