/* Mobile view */
@media (max-width: 768px) { 
  .main-header {
    text-align: center;
  }
}

/* bootstrap components */
.container {
  max-width: 950px; 
  margin: 0 auto;
} 

.row {
  margin: 50px 0 70px 0;
}

/* nav bar */
.navbar {
  background-color: rgba(255,255,255,0.7)
}

/* home */
#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

/* project */
.project {
  position: relative;
}

.hover {
  width: 270px;
  height: 270px;
  background: rgba(255,255,255,0.8);
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project:hover .hover {
  opacity: 1;
}

.hover hr {
  width: 15%;
  display: block;
  margin: 10px auto;
  border-bottom: solid 2.5px #0091cf;
}

.hover-title {
  font-family: 'Belleza', sans-serif;
  font-size: 22px;
}

.hover-sub {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/* about */
.profile-img {
  height: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid lightgrey;
}

.contact-icon {
  font-size: 30px;
  margin: 0 5px;
}