/* Mobile view */
@media (max-width: 768px) { 
  .main-header {
    text-align: center;
  }
}

/* bootstrap components */
.container {
  max-width: 950px; 
  margin: 0 auto;
} 

.row {
  margin: 50px 0 70px 0;
}

/* nav bar */
.navbar {
  background-color: rgba(255,255,255,0.7)
}

/* home */
#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header {
  font-family: 'Josefin Slab', serif;
  text-align: center;
}

/* project */
/* .project {
  overflow: hidden;
  cursor: pointer;
}

.project img {
  display: block;
  opacity: 1;
  height: 250px;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  backface-visibility: hidden;
}

/* .project img:hover {
  cursor: pointer;
  border: 1px solid blue;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

/* .hover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover .hover {
  opacity: 1;
} */

.project {
  position: relative;
}

.hover {
  width: 250px;
  height: 250px;
  background: rgba(255,255,255,0.6);
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project:hover .hover {
  opacity: 1;
}

/* about */
.profile-img {
  height: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 1px solid lightgrey;
}

.contact-icon {
  font-size: 30px;
  margin: 0 5px;
}