/* Mobile view */
@media (max-width: 768px) { 
  .main-header {
    text-align: center;
  }
}

.container {
  max-width: 900px; 
  margin: 0 auto;
} 

.main-header {
  margin: auto;
}

.main-img {
  height: 250px;
  display: block;
  margin: 0 auto;
}