@media only screen and (min-width: 650px){
  body { 
    background: yellow; 
  }

  .top-nav ul li {
    display: inline-block;
    border: none;
    width: 150px;
  }  

  .top-nav ul {
    display: inline-block;
    border-top: #F54320 1px solid;
  }

  .top-nav {
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  body { 
    background: green; 
  }

  .logo {
    display: inline-block;
    float: left;
  }

  .top-nav ul {
    border: none;
    float: right;
    line-height: 55px;
  }
}